<div class="">
   <div class="aHl"></div>
   <div id=":qz" tabindex="-1"></div>
   <div id=":qo" class="ii gt">
      <div id=":qn" class="a3s aXjCH msg1179637167026533968">
         <u></u>
         <div style="background-color:#f4f4f4;margin:0!important;padding:0!important">
            <div style="display:none;font-size:1px;color:#fefefe;line-height:1px;font-family:'Lato',Helvetica,Arial,sans-serif;max-height:0px;max-width:0px;opacity:0;overflow:hidden">
               Account details.
            </div>
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
               <tbody>
                  <tr>
                     <td bgcolor="#212529" align="center">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px">
                           <tbody>
                              <tr>
                                 <td align="center" valign="top" style="padding:40px 20px 20px 20px;border-radius:4px 4px 0px 0px;color:white;font-family:'Lato',Helvetica,Arial,sans-serif;font-size:48px;font-weight:400;letter-spacing:4px;line-height:48px">
                                    <img alt="Logo" src="../assets/images/logo.png" width="250" height="100" style="display:inline;width:250px;max-width:250px;min-width:250px;font-family:'Lato',Helvetica,Arial,sans-serif;color:white" border="0" class="CToWUd">
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </td>
                  </tr>
                  <tr>
                     <td bgcolor="#212529" align="center" style="padding:0px 10px 0px 10px">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px">
                           <tbody>
                              <tr>
                                 <td bgcolor="#ffffff" align="left" valign="top" style="padding:40px 20px 0px 25px;border-radius:4px 4px 0px 0px;color:#111111;font-family:'Lato',Helvetica,Arial,sans-serif;font-size:48px;font-weight:400;letter-spacing:4px;line-height:48px">
                                    <h1 style="font-size:48px;font-weight:400;margin:0"><span class="il">PFM</span> Security</h1>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </td>
                  </tr>
                  <tr>
                     <td bgcolor="#f4f4f4" align="center" style="padding:0px 10px 0px 10px">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px">
                           <tbody>
                              <tr>
                                 <td bgcolor="#ffffff" align="left" style="padding:20px 30px 40px 30px;color:#666666;font-family:'Lato',Helvetica,Arial,sans-serif;font-size:18px;font-weight:400;line-height:25px">
                                    <p style="margin:0">Hi, You're requesting to reset password at <span class="il">PFM</span> Market. You need to open the link provided below to create new password. <br><br></p>
                                    <center>
                                       <table border="0" cellspacing="0" cellpadding="0">
                                          <tbody>
                                             <tr>
                                                <td align="center" style="border-radius:3px" bgcolor="#242f33"><a href="#" style="font-size:20px;font-family:Helvetica,Arial,sans-serif;color:#ffffff;text-decoration:none;color:#ffffff;text-decoration:none;padding:15px 25px;border-radius:2px;border:1px solid #242f33;display:inline-block" target="_blank" data-saferedirecturl="#">Change Password</a></td>
                                             </tr>
                                          </tbody>
                                       </table>
                                    </center>
                                    <br>The link will be expired in 30 mins, Not you? just leave this email.
                                    <p></p>
                                 </td>
                              </tr>
                              <tr>
                                 <td bgcolor="#ffffff" align="left" style="padding:0px 30px 40px 30px;border-radius:0px 0px 4px 4px;color:#666666;font-family:'Lato',Helvetica,Arial,sans-serif;font-size:18px;font-weight:400;line-height:25px">
                                    <p style="margin:0">Cheers,<br><span class="il">PFM</span> Team.</p>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </td>
                  </tr>
                  <tr>
                     <td bgcolor="#f4f4f4" align="center" style="padding:30px 10px 0px 10px">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px">
                           <tbody>
                              <tr>
                                 <td bgcolor="#FFECD1" align="center" style="padding:30px 30px 30px 30px;border-radius:4px 4px 4px 4px;color:#666666;font-family:'Lato',Helvetica,Arial,sans-serif;font-size:18px;font-weight:400;line-height:25px">
                                    <h2 style="font-size:20px;font-weight:400;color:#111111;margin:0">Need more help?</h2>
                                    <p style="margin:0"><a href="http://www.osirish.net/support" style="color:#242f33" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://www.osirish.net/support&amp;source=gmail&amp;ust=1562499098892000&amp;usg=AFQjCNHx1XN_gXKEkTOVl5s5hJg4rnourA">Contact us by Creating a Ticket</a></p>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </td>
                  </tr>
                  <tr>
                     <td bgcolor="#f4f4f4" align="center" style="padding:0px 10px 0px 10px">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px">
                           <tbody>
                              <tr>
                                 <td bgcolor="#f4f4f4" align="left" style="padding:0px 30px 30px 30px;color:#666666;font-family:'Lato',Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:18px">
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </td>
                  </tr>
               </tbody>
            </table>
            <div class="yj6qo"></div>
            <div class="adL">
            </div>
         </div>
         <div class="adL">
         </div>
      </div>
   </div>
   <div id=":r4" class="ii gt" style="display:none">
      <div id=":r3" class="a3s aXjCH undefined"></div>
   </div>
   <div class="hi"></div>
</div>
